:root {
    --main: #003366;
    --dmain: #000033;
    --lmain: #EAF1F7;
    --light: #eee;
    --dark:#3F4254;
    --mainbtn:#3699FF;
    --danger:#f65f70;
    --warning:#ffb019;
  }
  body .app-container {
      min-height: 100%;
      position: relative;
      background: #eaf1f7;
      padding-bottom: 30px;
      font-size:13px;
      font-family:'Roboto', sans-serif;
  }
  body, html {
    padding: 0;
    margin: 0;
    height: 100%;
    font-family:'Roboto', sans-serif;
    font-size: 14px;
    line-height: 1.5rem;
    color: #000000;
    background-color: #fff;
}
  .voyager {
      background-color: var(--lmain);
  }
  .app-container .content-container .side-menu .navbar-header .navbar-brand {
    width: 455px;
    line-height: 60px;
    height: 130px;
    padding: 0;
    width: 100%;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
}
.app-container .content-container .side-menu .navbar-header .navbar-brand .logo-icon-container {
    width: auto;
    height: 130px;
    display: block;
    text-align: center;
    overflow: hidden;
    padding: 25px;
}
.app-container .content-container .side-menu .navbar-header .navbar-brand img {
    max-width: 100%;
    max-height: initial;
    position: inherit;
    top: 0px;
    display: block;
}
  .app-container.expanded .content-container .navbar-top {
      padding-left: 265px;
  }
  .app-container .content-container .side-body.padding-top {
      padding-top: 72px;
  }
  
  .voyager .navbar, .voyager .navbar.navbar-default {
      border-bottom: 0;
      box-shadow: 0 0 0;
      background: hsl(0deg 0% 100%);
  }
  .app-container.expanded .content-container .navbar-top {
      padding-left: 265px;
      height: 72px;
  }
  
  .app-container.expanded .content-container .side-menu .navbar-header .navbar-brand .title, .app-container.expanded .content-container .side-menu .navbar-nav li a .title {
      display: inline-block;
      color: var(--lmain);
  }
  .expanded .side-menu .panel.widget .dimmer, .side-menu:hover .panel.widget .dimmer {
      background: var(--main);
  }
  .voyager .navbar.navbar-default .navbar-header .navbar-brand, .voyager .navbar .navbar-header .navbar-brand {
      color: var(--light);
      background: var(--main);
  }
  .voyager .navbar-header .breadcrumb a {
      color: var(dark);
  }
  #adminmenu li.active {
      background: var(--dmain);
  }
  /*Sidebar*/
  .app-container.expanded .content-container .side-menu {
      width: 265px;
  }
  .app-container.expanded .side-body {
      margin-left: 265px;
  }
  .voyager .side-menu.sidebar-inverse {
      background: var(--main);
      overflow-x: hidden;
  }
  .navbar-title {
    text-align: center;
    color: var(--light)
  }
  .navbar .navbar-nav>li>a {
    font-family: inherit;
    text-transform: inherit;
  }
  .voyager .nav-tabs {
    border-bottom: 0;
    margin-bottom: 20px;
}
  .app-container .content-container .side-menu .navbar-nav li a {
      font-family: inherit;
      padding: 9px 25px;
      height: 44px;
      line-height: 1rem;
      display: block;
      white-space: nowrap;
      font-size: 13px;
      font-weight: 400;
  }
  .app-container .content-container .side-menu .navbar-nav li a .icon {
      margin-left: 0;
      width: auto;
      text-align: center;
      font-size: 1.3em;
      display: inline-block;
  }
  .voyager .side-menu.sidebar-inverse .navbar li.active>a .icon {
      margin-left: 0;
      -webkit-box-flex: 0;
      -ms-flex: 0 0 35px;
      flex: 0 0 35px;
      font-size: 1.3rem;
  }
  .aside-menu .menu-nav > .menu-item > .menu-heading, .aside-menu .menu-nav > .menu-item > .menu-link {
      cursor: pointer;
      min-height: 44px;
  }
  .voyager .side-menu.sidebar-inverse .navbar li>a {
      color: #fff;
  }
  .voyager .navbar.navbar-default .navbar-nav>li:hover>a, .voyager .navbar .navbar-nav>li:hover>a {
      color: #fff;
  }
  .voyager .side-menu.sidebar-inverse .navbar li>a:hover {
      color: #fff;
      background: #000033;
  }
  .voyager .side-menu.sidebar-inverse .navbar li>a {
      color: #fff;
  }
  .app-container .content-container .side-menu {
      overflow-y: auto;
      z-index: 9999;
      position: fixed;
      width: 70px;
      height: 100%;
      -webkit-transition: width .25s;
      transition: width .25s;
  }
  .voyager .side-menu.sidebar-inverse .navbar li.dropdown>.panel-collapse {
    background-color: #003366;
}
.app-container .content-container .side-menu .navbar-nav li.dropdown ul li a {
    height: 44px;
    line-height: 44px;
    vertical-align: middle;
    padding: 0 25px;
    padding-left: 40px;
}
  /*Common*/
  .voyager .btn.btn-danger {
      background: #003366;
      color: #fff;
      border: 0;
      border-radius: 3px;
      opacity: .9;
  }
  .voyager .nav-tabs, .voyager .nav-tabs>li>a:hover {
    background-color: transparent;
}
  .tab-content>div {
      padding: 0;
  }
  .voyager .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #fff;
    background-color: #22a7f0;
    border-color: transparent;
    border: 0;
  }
  .voyager .nav-tabs>li.active>a:hover {
    background-color: #000033;
  }
  .voyager .nav-tabs>li>a {
      padding: 10px 20px;
      color: #ffffff;
      -webkit-transition: .25s;
      transition: .25s;
      background: #003366;
  }
  .voyager .nav-tabs>li>a:hover {
      border-color: transparent;
      background: #003366;
  }
  .voyager .nav-tabs {
      border-bottom: 0;
  }
  .voyager .nav-tabs>li {
      margin-bottom: 0;
  }
  .voyager .tab-content2 {
      background: #fff;
  }
  label {
      font-weight: 600;
  }
  p label {
      font-weight: normal;
  }
  
  .form-control {
      color: #003366;
      background-color: #fff;
      background-image: none;
      border: 1px solid #ced4da;
  }
  .select2-container--default .select2-selection--single {
      border: 0;
      border-right: 1px solid #ced4da;
      border-radius: 3px;
      height: 34px;
      padding: 3px;
      border: 1px solid #ced4da;
  }
  .voyager input[type=file] {
    padding: 10px 10px;
    background: #fff;
    border-radius: 4px;
    border: 1px solid #ced4da;
    outline: none;
    cursor: pointer;
    line-height: 16px;
    color: #000;
    font-weight: 500;
    font-size: 14px;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    height: auto;
  }
  body .btn-coral {
      color: #fff;
      background-color: var(--corall);
      border-color: var(--corall);
  }
  body .btn-coral:hover {
      color: #fff;
      background-color: var(--coralllight);
      border-color: var(--coralllight);
  }
  .voyager .panel {
    background-color: #fff;
    border-radius: .42rem;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 0;
    }
  
  /*Formbuilder Vue*/
  .box-scroll {
      height: 500px;
      overflow-y: auto;
  }
  form .steps .step.current {
      background-color: #e04e39!important;
      border-radius: 4px 4px 0 0!important;
      color: #fff;
  }
  form .group-header {
      background-color: #6e544a!important;
      color: #fcfcfc!important;
      border: 1px solid #b5b5b5!important;
      text-align: center;
      padding: 10px;
      position: relative;
      border-radius: 0;
      cursor: pointer;
  }
  form .templates .template > div {
      outline: 1px dashed #4f2f22!important;
      padding: 10px 0!important;
      background: #eee!important;
      border:none!important;
  }
  
  form .templates .template {
      padding: 1px!important;
      background: #eee!important;
      border:none!important;
  }
  form .group-header.open {
      background-color: #4F2F22!important;
  }
  form .templates .template > div:last-child {
      border-right: 0px solid #b5b5b5!important;
  }
  form .group-body {
      border: 0!important;
      border-top: none!important;
      padding: 10px 0!important;
      cursor: pointer;
  
  }
  form .group-header::after {
      border-top: 1px solid #fff!important;
      border-right: 1px solid #fff!important; 
  }
  form .dragged-element__row {
      border: 0!important;
      border-radius: 4px!important;
      margin-bottom: 0px!important;
      overflow: hidden!important;
  }
  form .steps .step {
      background-color: #4CAF50!important;
      padding: 10px;
      cursor: pointer;
      transition: 0.3s;
      border-radius: 4px 4px 0 0!important;
      color: #fff;
  }
  /*form .close {
      float: none;
      font-size: inherit;
      font-weight: 700;
      line-height: 1;
      color: #fff;
      text-shadow: none;
      filter: alpha(opacity=70);
      opacity: .7;
  }*/
  form .dragArea {
      border: 1px dashed #eee!important;
      padding: 15px!important;
      margin: 0!important;
  }
  form .dragged-element__row-title, .editor-element__title {
      background-color: #eee!important;
      display: flex;
      padding: 5px 10px!important;
  }
  form .editor-element {
      border: 1px solid #eee!important;
      border-radius: 4px!important;
      margin-bottom: 0px!important;
  }
  .group-body .fields .field {
      background-color: #eee!important;
      border: 1px solid #eee!important;
      text-align: center;
      margin-bottom: 10px;
      padding: 10px 10px!important;
      border-radius: 3px!important;
  }
  
  .group-body .fields .field:hover {
      border: 1px solid #b5b5b5!important;
  }
  .btn-close {
      padding: 0px 7px;
      margin: 0;
  }
  /*.editor-element__title button.btn-sm {
      padding: 0px 7px;
      margin: 0;
      height: 22px;
  }*/
  .flex {
      display: -webkit-box;
      display: flex;
      flex-wrap: wrap;
      /* border: 0px solid #e0e0e0!important; Едет вёрстка в шаблоне media */ 
      border-top: 0;
  }
  .item {
      flex:auto;
      padding: 0;
  }
  .dragged-element {
      cursor: move;
  }
  .dragged-element:hover {
      box-shadow: 0 0 10px #dcdcdc;
      transition: 0.5s;
  }
  form .row>[class*=col-] {
      margin-bottom: 0!important;
  }
  form .dragged-element .mb-2 {
      margin-bottom: 15px;
  }
  
  /*Buttons*/
  .voyager .btn.btn-success {
      color: #fff;
      background-color: #1bc5bd;
      border-color: #1bc5bd;
  }
  .voyager .btn.btn-success.focus:not(.btn-text), .btn.btn-success:focus:not(.btn-text), .btn.btn-success:hover:not(.btn-text):not(:disabled):not(.disabled) {
      color: #fff;
      background-color: #0bb7af;
      border-color: #0bb7af;
  }
  
  .voyager .btn:not(:disabled):not(.disabled) {
      cursor: pointer;
  }
  
  .voyager .btn.btn-danger {
      color: #fff;
      background-color: #f64e60;
      border-color: #f64e60;
  }
  .voyager .btn.btn-danger.focus:not(.btn-text), .btn.btn-danger:focus:not(.btn-text), .btn.btn-danger:hover:not(.btn-text):not(:disabled):not(.disabled) {
      color: #fff;
      background-color: #ee2d41;
      border-color: #ee2d41;
  }
  
  .voyager .btn.btn-warning {
      color: #fff;
      background-color: #ffa800;
      border-color: #ffa800;
  }
  .voyager .btn.btn-warning.focus:not(.btn-text), .btn.btn-warning:focus:not(.btn-text), .btn.btn-warning:hover:not(.btn-text):not(:disabled):not(.disabled) {
      color: #fff;
      background-color: #ee9d01;
      border-color: #ee9d01;
  }
  
  .voyager .btn.btn-primary {
      color: #fff;
      background-color: #3699ff;
      border-color: #3699ff;
  }
  .voyager .btn.btn-primary.focus:not(.btn-text), .btn.btn-primary:focus:not(.btn-text), .btn.btn-primary:hover:not(.btn-text):not(:disabled):not(.disabled) {
      color: #fff;
      background-color: #187de4;
      border-color: #187de4;
  }
  
  .voyager .btn.btn-default {
      color: #3f4254;
      background-color: #e4e6ef;
  }
  .voyager .btn.btn-default.focus:not(.btn-text), .btn.btn-default:focus:not(.btn-text), .btn.btn-default:hover:not(.btn-text):not(:disabled):not(.disabled) {
      color: #3f4254;
      background-color: #d7dae7;
      border-color: #d7dae7;
  }
  .voyager .btn.focus, .btn:focus:not(.btn-text), .btn:hover:not(.btn-text) {
      -webkit-transition: color .15s ease,background-color .15s ease,border-color .15s ease,-webkit-box-shadow .15s ease;
      transition: color .15s ease,background-color .15s ease,border-color .15s ease,-webkit-box-shadow .15s ease;
      transition: color .15s ease,background-color .15s ease,border-color .15s ease,box-shadow .15s ease;
      transition: color .15s ease,background-color .15s ease,border-color .15s ease,box-shadow .15s ease,-webkit-box-shadow .15s ease;
  }

  /*Footer*/
  .app-container.expanded .app-footer {
    left: 265px;
  }
  .app-container.expanded .app-footer {
    left: 265px;
    width: auto;
}
/*Group of fileds*/
.table .flex.fixed-top {
    border: 0;
    font-weight: 600;
    text-align: center;
    justify-content: space-between;
    outline: 0px solid #eee;
    margin-bottom: 1rem;
    border-bottom: 1px solid #eee;
    padding-bottom: 0.5rem;
    align-items: center;
}

.flex-step-column {
    word-wrap: break-word;
    width: auto;
    margin-left: 5px;    
}
.flex.steps-row {
    border: 0;
    font-weight: normal;
    text-align: center;
    justify-content: space-between;
    outline: 0px solid #eee;
    margin-bottom: 1rem;
    border-bottom: none;
    padding-bottom: 0.5rem;
    align-items: center;
}
.group-field {
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    outline: 0px solid #eee;
    border: 0;
    text-align: center;
}
.step-field {
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    outline: 0px solid #eee;
    border: 0;
    text-align: center;
}
.panel-heading {
    padding: 10px 20px;
    overflow: hidden;
}
button.btn.btn-sm {
    padding: 6px 13px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 2px;
}
.table input.form-control:required {
    border-color: var(--warning);
}
#select-options .form-group {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}

/**/

.voyager .toggle.btn {
    width: 200px!important;
}