span.label.label-rounded.label-danger {
    position: absolute;
    top: 16px;
    padding: 0;
    background-color: #ffe2e5;
    width: 20px;
    height: 20px;
    margin-left: -12px;
    border-radius: 50%;
    border: 1px solid #ffe2e5;
    color: #f64e60;
}
span.label.label-rounded.label-primary {
    position: absolute;
    top: 16px;
    padding: 0;
    background-color: #eaf1f7;
    width: 20px;
    height: 20px;
    margin-left: -12px;
    border-radius: 50%;
    border: 1px solid #eaf1f7;
    color: #48a2ff;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

/*Tickets*/
#kt_inbox_reply .ql-container.ql-snow {
    border: 0px solid #EBEDF3;
    border-top: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
#kt_inbox_reply  .ql-editor.ql-blank {
    padding: 2rem 2.25rem;
}

.no-scroll {
    height: 100%;
    overflow: hidden;
}
a.navi-link.current-category {
    background-color: #F3F6F9;
}
.card-body img {
    max-width: 100%;
}

.group-field {
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    border: none;
    margin-bottom: 1rem;
}
.navi-item.current-article a {
    background-color: #F3F6F9;
}
.btn.btn-primary.disabled, .btn.btn-primary:disabled {
    cursor: not-allowed;
}
.form-control:disabled, .form-control[readonly] {
    cursor: not-allowed;
}
span.menu-notify {
    display: flex;
    align-items: center;
    background: #e32326;
    width: 20px;
    height: 20px;
    text-align: center;
    justify-content: center;
    color: #fff;
    border-radius: 4px;
}
.cookiealert {
    position: fixed!important;
    bottom: 0;
    left: 0;
    width: 100%;
    margin: 0 !important;
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    border-radius: 0;
    transform: translateY(100%);
    transition: all 500ms ease-out;
    color: #ecf0f1;
    background: #212327;
}

.cookiealert.show {
    opacity: 1;
    visibility: visible;
    transform: translateY(0%);
    transition-delay: 1000ms;
    position:fixed;
    bottom:0;
    border-radius: 0;
}

.cookiealert a {
    text-decoration: underline
}

.cookiealert .acceptcookies {
    margin-left: 10px;
    vertical-align: baseline;
}
label.custom-file-label {
    cursor: pointer;
}