@media (min-width: 1200px) {
    .container-xl, .container-lg, .container-md, .container-sm, .container {
        max-width: 1300px!important;
    }
}

:root {
    --brownlight: #00ADEF;
    --brown: #0055FF;
    --corall: #135988;
    --dark:#4C5071;
    --brown80:#00ADEF;
  }
:focus {
    outline: none;
}
body .btn-group-sm>.btn, .btn-sm {
    padding: .25rem .5rem;
    font-size: .9rem;
    line-height: 1rem;
    border-radius: .2rem;
}
a.btn-coral, button.btn-coral {
    color: #fff;
    background-color: var(--corall);
    border-color: var(--corall);
}
a.btn-brown, button.btn-brown {
    color: #fff;
    background-color: var(--brown);
    border-color: var(--brown);
}
a.btn-coral:hover, button.btn-coral:hover, a.btn-brown:hover, button.btn-brown:hover {
    color: #fff;
    box-shadow: 0px 5px 10px 0px #d1d1d1;
}
body {
    background: #F4F4F4!important;
    background-color: #F4F4F4!important;
    font-family: 'Open Sans', sans-serif!important;
    font-size: 1rem!important;
    line-height: 1.25rem!important;
}
h2, h3, h4, h5 {
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
}
/*.top {
    border-bottom: 3px solid var(--brownlight);
}*/

.content {
    background: #fff;
    margin-top: 50px;
    padding: 30px!important;
    border-radius: 5px;
    box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.1);
    margin-bottom: 50px;
}

.side {
    background: #fff;
    margin-top: 50px;
    /*padding: 30px!important;*/
    border-radius: 5px;
    box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.1);
    margin-bottom: 0px;
}
.side h5{
    padding: 0;
    margin: 0;
}
.row.times {
    padding-bottom: 5px;
}
body a {
    color: var(--brown);
    text-decoration: none;
    background-color: transparent;
    font-weight: 400;
}
body a:hover, body a:focus {
    color: var(--corall);
    text-decoration: none;
}
a.nav-link {
  display: block;
  padding: 0;
}
header {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
    z-index: 21;
    position: fixed;
    margin: 0 auto;
    width: 100%;
    background: #fff;
    max-height:82px;
}
main {
    margin-top: 80px;
    margin-bottom: 80px;
}
header .navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0;
}
header .navbar-brand {
    display: inline-block;
    padding-top: 0;
    padding-bottom: 0;
    margin-right: 1rem;
    font-size: 1rem;
    line-height: inherit;
    white-space: nowrap;
    margin-left: 1rem;
}
ul.navbar-nav li.nav-item {
    margin: 10px;
    border: 2px solid #C39367;
    border-radius: 4px;
    transition-duration: 0.4s;
}
ul.navbar-nav li.nav-item:hover {
  background-color: #C39367;
  border-color: #C39367;
  box-shadow: 0px 5px 10px 0px #d1d1d1;

}
ul.navbar-nav li.nav-item a {
  font-weight: 400;
  font-style: normal;
  color: #333;
  font-size: 16px;
  line-height: 1.7;
  letter-spacing: 0px;
  padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px!important;
    padding-right: 20px!important;
}
ul.navbar-nav li.nav-item a:hover {
    color: #fff;
}
ul.navbar-nav li.nav-item.brown {
    background-color: #623B2A;
    border-color: #623B2A;
    border-radius: 3px;
    min-width: 160px;
    text-align: center;
}
ul.navbar-nav li.brown a.nav-link {
  color:#fff;

}
ul.navbar-nav li.nav-item.coral {
    background-color: #E04E39;
    border-color: #E04E39;
    border-radius: 3px;
    min-width: 160px;
    text-align: center;
}
ul.navbar-nav li.coral a.nav-link {
    color:#fff;

}
ul.navbar-nav li.item-brown {
  background: #623B2A;
    margin: 0 5px;
    border: 2px solid #623B2A;
}
ul.navbar-nav li.item-brown a {
  color:#fff;
  padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px!important;
    padding-right: 10px!important;
}
ul.navbar-nav li.item-coral {
    border: 2px solid #fff;
    min-width: 50px;
    text-align: center;
}
ul.navbar-nav li.item-coral a {
    color:#E04E39;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px!important;
    padding-right: 10px!important;
}
div#navbarToggler {
    background: #fff;
}
.left-border-coral {
    background: #E04E39;
    color: #fff;
}
div.alert-coral{
    border: 2px solid #E04E39;
}

#section-footer {
  background: #2C2A29;
    color: #fff;
}
.mt-auto, .my-auto {
    margin-top: auto!important;
}
body.h-100 {
  height:  100vh!important;
}
body h1 {
    font-weight: 700;
    font-style: normal;
    color: #623B2A;
    font-size: 36px;
    line-height: 1;
    letter-spacing: 0px;
}
/*button.btn {
    font-size: 1rem;
}*/
/*a.btn {
    font-size: 1rem;
}*/
/*button.btn-brown {
    color: #fff;
    background-color: #C39367;
    border-color: #C39367;
}
button.btn-brown:hover {
    background: #fff;
}*/
button.navbar-toggler {
    padding: 0.25rem 0.75rem;
    font-size: 1.125rem;
    line-height: 1;
    background-color: #C39367;
    border: none;
    border-radius: 0.25rem;
}

a.btn-brown {
    color: #fff;
    background-color: #C39367;
    border-color: #C39367;
}
button:focus {
    outline: none!important;
    outline: none!important;
}
.dropdown-item:hover, .dropdown-item:focus {
    color: #16181b;
    text-decoration: none;
    background-color: #C39367;
}
.dropdown-menu.show a:hover {
    background: #c39367;
}
i.fa {
    vertical-align: middle;
}
.body-brown {
  background-color: #623B2A;
  color: #fff;
}
form .form-control:focus {
    color: #623B2A;
    background-color: #fff;
    border-color: #C39367;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgb(222 156 103 / 30%);
}
.category {
    border: 2px solid #c39367;
    padding: 20px;
    text-align: center;
    min-height: 270px;
    margin-bottom: 30px;
    max-height: 270px;
    overflow: hidden;
}
.category:hover {
    background: #623B2A;
    transition: .5s;
}
a.category-link {
    color: #282E39;
}
a.category-link:hover {
    color: #fff;
}
.category-image {
    font-size: 40px;
    line-height: normal;
    display: inline-block;
    padding: 10px;
    margin-bottom: 10px;
    color: #C39367;
}
.category-description {

}

span.badge-light {
    background-color: #f8f9fa;
    vertical-align: super;
    padding: 0;
    background-color: transparent;
    color: #000;
    position:absolute;
}
#table-tickets td:first-child {
    text-align: center;
}
.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
    background: #eee;
}
.bs-callout-info {
    border-left-color: var(--primary);
}
.bs-callout-coral {
    border-left-color: var(--corall);
}
.bs-callout-brown {
    border-left-color: #623B2A;
}
table.table .thead-dark th {
    color: #fff;
    background-color: #c39367;
    border-color: #c39367;
    font-size: 1rem;
    font-weight: 400;
    vertical-align: middle;
}
main .card-header {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgb(195 147 103 / 0.8);
    border-bottom: 1px solid rgb(197 147 104 / 0.8);
    color: #fff;
}
main .card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #eee;
    border-radius: 0.25rem;
    box-shadow: 0px 4px 20px #dadada;
}

/*List*/
.list3a {
    padding:0;
    list-style: none;
    counter-reset: li;
}
.list3a li {
    position: relative;
    border-left: 4px solid #c39367;
    padding: 11px 15px 15px 25px;
    margin: 15px;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

ol, ul, dl {
    display: block;
    list-style-type: decimal;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 2rem;
    line-height: 1.5rem;
}
/*Tabs*/
ul.nav {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    margin-left: 0;
}
.nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    padding: 10px 20px;;
}
.nav-pills .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    padding: 10px 20px;;
}
.nav-pills.corall .nav-link {
    border: 1px solid;
    border-color: var(--brownlight);
    margin-right: 15px;
    color: #000;
}
.nav-pills.corall .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background: var(--corall);
}
.tab-content .tab-pane {
    padding: 30px 0px;
}
@media (max-width: 575.98px) {
    .navbar-brand {
        max-width: 80%;
    }
    .navbar-brand img {
        max-width: 100%;
    }
}
/*Forms*/
.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #c39367;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgb(195 147 103 / 30%);
}
form.mfcb .form-group {
    margin-right: 0;
    margin-left: 0;
    padding: 0 10px;
}
form.mfcb .form-control {
    display: block;
    width: 100%;
    height: calc(1.6em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.6;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.step__name {
    padding: 10px 20px;
    background: #c39367;
    display: inline-block;
    color: #fff;
    border-radius: 4px 4px 0 0;
}
.step > .step {
    padding: 15px;
    border: 1px solid var(--corall);
}
.form .action-buttons {
    padding: 15px 0;
}
form .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link {
    background: #eee;
    cursor: not-allowed;
    border: 1px solid #eee;
    margin-right: 3px;
}
form .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    background: var(--corall);
    color: #fff;
    border: 1px solid #e04e39;
    margin-right: 3px;
}
.nav.nav-tabs {
    margin-bottom: 0px!important;
    border: none;
    overflow: hidden;
}

form label {
    font-weight: 600;
}
form p label {
    font-weight: normal;
}
/*Profile*/
.avatar {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    border: 5px solid #fff;
    object-fit: cover;
}

/*Menu*/
.right-menu {
    background: rgb(195 147 103 / 0.6);
    color:#623b2a;

}
a.right-menu-link {
    color: #000;
    display: block;
    padding: 15px 0;
}
a.right-menu-link:hover {
    color: #ffffff;
    background: #c39367;
}
.right-menu hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgb(255 255 255);
    padding: 0;
    margin: 0;
}

/*Category*/
.category.corall {
    border-color: var(--corall)
}


/*Main page*/
.main-container {
    background: #fff;
    padding: 80px 0;
}
.slider {
    padding: 85px 0 0 0;
}
.card-brown {
    background-color: var(--brown80);
    border-radius: 5px;
    transition-duration: 0.4s;
    box-shadow: 0px 5px 10px 0px #c7c7c7;
    text-align: center;
    padding: 30px;
    color: #fff;
    min-height: 360px;
}
.icon-block {
    font-weight: 500;
    color: #d1ac8a;
    font-size: 130px;
    line-height: 1.1;
    letter-spacing: 0px;
}
.box {
    width: 180px;
    padding: 20px;
}
.box-white {
    transition-duration: 0.4s;
    box-shadow: 0px 10px 20px 0px #d1d1d1;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 20px;
    font-size: 1.2rem;
    line-height: 1.5rem;
    color: #fff;
    padding-right: 20px;
    background-color: #816254;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}
.features {
    font-weight: 700;
    color: #4f2f22;
    font-size: 32px;
    line-height: 1;
    letter-spacing: 0px;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 15px;
}


/*Sort*/
.dataTables_length {

}
.example_filter {

}
.dataTables_info {

}

/*FAQ*/
/* The sidebar menu */
.sidebar {
    height: 100vh; /* 100% Full-height */
    width: 400px; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 9999; /* Stay on top */
    top: 0;
    right: -405px;
    background-color: #fff; /* Black*/
    border-left:0px solid var(--brown);
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
   /* box-shadow: -3px 0px 10px 0px #c7c7c7;*/
   /*transition-duration: 1s;*/
}

.chatsidebar {
    height: 100vh; /* 100% Full-height */
    width: 400px; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 9999; /* Stay on top */
    top: 0;
    right: -405px;
    background-color: #fff; /* Black*/
    border-left:0px solid var(--corall);
    overflow: hidden; /* Disable horizontal scroll */
    padding-top: 40px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
   /* box-shadow: -3px 0px 10px 0px #c7c7c7;*/
   /*transition-duration: 1s;*/
}
/* The sidebar links */
.sidebar a {
    display: block;
}

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
    font-size: 26px;
    right: 15px;
    top: 10px;
    position: absolute;
    z-index: 1;
    font-size: 16px;
    cursor: pointer;
    background-color: var(--brown);
    color: #fff;
    border: 2px solid  #fff;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    text-align: center;
}
.chatsidebar .closechatbtn {
    font-size: 26px;
    right: 15px;
    top: 10px;
    position: absolute;
    z-index: 1;
    font-size: 16px;
    cursor: pointer;
    background-color: var(--corall);
    color: #fff;
    border: 2px solid #fff;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    text-align: center;
}
/* The button used to open the sidebar */
.openbtn {
    position: fixed;
    right: 0;
    top: 50%;
    z-index: 2;
    font-size: 20px;
    cursor: pointer;
    background-color: var(--brown);
    color: #fff;
    /*padding: 15px 0 15px 9px;*/
    border: 0px solid;
    border-radius: 50%;
    /*transition: 0.1s;*/
    width: 50px;
    height:50px;
    text-align: center;
}
.openchatbtn {
    position: fixed;
    right: 0;
    top: 60%;
    z-index: 2;
    font-size: 20px;
    cursor: pointer;
    background-color: var(--corall);
    color: #fff;
    /*padding: 15px 0 15px 9px;*/
    border: 0px solid;
    border-radius: 50%;
    /*transition: 0.1s;*/
    width: 50px;
    height:50px;
    text-align: center;
}
.openbtn:hover {
  background-color: #444;
}
.wraperblack {
    height: 100%;
    background: rgb(0 0 0 / 75%);
    display: block;
    z-index: 1100;
    position: fixed;
    width: 100%;
    display: none;
    transition: 0.5s;
}

/*Modal*/
.modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
    display: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
    outline: 0;
}
.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #000;
    z-index: 9999;
}
/*Notice*/
.notice.row {
    border-bottom: 1px solid #eee;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.notice p {
    padding: 0;
    margin: 0;
}
/*blocks*/
.faq-category__name a {
    display: block;
}
.accordion {
    background: transparent!important;
}

.nav-item-brown {
    background-color: #623B2A;
    border-color: #623B2A;
    border-radius: 3px;
    text-align: center;
}
