<template>
  <div class="form-editor">
    <drag :data="data" group="template"></drag>
  </div>
</template>

<script>
  import Drag from './form/drag';
  export default {
    name: 'form-editor',
    components: { Drag },
    props: ['data'],

  }
</script>

