<template>
  <div class="form-steps">
    <div class="steps">
      <div class="step"
           :class="{current: currentStep === index}"
           v-for="(step, index) in steps"
           @click="currentStep = index"
      >
        {{ step.name }}
        <span class="close" @click.stop="removeStep(step)" v-if="steps.length > 1">x</span>
      </div>

      <div class="m-auto"></div>

      <div class="step" @click.prevent="addStep">Добавить</div>
    </div>
    <form-editor :data="steps[currentStep].data"></form-editor>
  </div>
</template>

<script>
  import FormEditor from './form';
  export default {
    name: 'steps',
    components: { FormEditor },
    props: ['steps'],
    data: () => ({
      currentStep: 0,
    }),
    methods: {
      addStep() {
        this.$emit('add-step');
      },
      removeStep(step) {
        if (confirm('Вы действительно хотите удалить шаг?')) {
          this.steps.splice(this.steps.indexOf(step), 1);

          this.steps.forEach((step, index) => {
            step.name = `Шаг ${index + 1}`;
          });

          this.currentStep = 0;
        }
      }
    }
  }
</script>

<style lang="scss" scoped>
  .steps {
    display: flex;

    .step {
      background-color: rgba(0, 0, 0, 0.11);
      padding: 10px;
      cursor: pointer;
      transition: .3s;

      &:hover {
        background-color: rgba(0, 0, 0, 0.2);
      }

      &.current {
        background-color: #4cd213;
      }

      .close {
        margin-left: 10px;
        cursor: pointer;
      }
    }

    .m-auto {
      margin: auto;
    }
  }
</style>
