<template>
  <draggable
    class="dragArea list-group"
    :list="data"
    :group="group"
    @change="change"
    draggable=".dragged-element"
  >
    <div class="dragged-element mb-2" v-for="(elm, idx) in data" :key="idx">
      <div v-if="elm.type === 'row'">
        <div class="dragged-element__row">
          <div class="dragged-element__row-title">
            <p><i class="voyager-handle"></i> Строка в {{ elm.cols.length }} колонку(и)</p>
            <div class="m-auto"></div>
            <button class="btn btn-danger btn-sm btn-close" type="button" @click="remove(elm)"><i class="voyager-trash"></i></button>
          </div>
          <div class="row flex">
            <div v-for="col in elm.cols" :class="`col-md-${col.number} item`">
              <my-dragged :data="col.data" group="form"></my-dragged>
            </div>
          </div>
        </div>
      </div>
      <div v-else>
        <editor-element :data="elm" @remove="removeElement"></editor-element>
      </div>
    </div>
    <div class="placeholder" slot="footer" v-if="group === 'template'">
      <span>Перетащите нужный макет разметки в эту область</span>
    </div>
    <div class="placeholder" slot="footer" v-if="group === 'form' && data.length === 0">
      <span>Перетащите поля в эту область</span>
    </div>
  </draggable>
</template>

<script>
  import Draggable from 'vuedraggable';
  import EditorElement from './editor-element';

  export default {
    name: 'my-dragged',
    components: { EditorElement, Draggable },
    props: ['data', 'group'],
    methods: {
      change() {
        this.$forceUpdate();
      },
      remove(elm) {
        if (confirm('Удалени строки приведет к удалению всех ее элементов. Вы действительно хотите удалить строку?')) {
          this.data.splice(this.data.indexOf(elm), 1);
          this.$forceUpdate();
        }
      },
      removeElement(elm) {
        if (confirm('Вы действительно хотите удалить элемент?')) {
          this.data.splice(this.data.indexOf(elm), 1);
          this.$forceUpdate();
        }
      }
    }
  }
</script>

<style lang="scss" scoped>
  .dragArea {
    border: 1px solid black;
    padding: 10px;

    .placeholder {
      display: flex;
      min-height: 100px;
      span {
        margin: auto;
      }
    }
  }

  .dragged-element {
    &__row {
      border: 1px solid #b4b4b4;
      border-radius: 10px;
      margin-bottom: 10px;

      &-title {
        background-color: #eeeeee;
        display: flex;
        padding: 10px;

        p {
          color: black;
          margin: 0;
        }

        .m-auto {
          margin: auto;
        }

        .close {
          border: none;
          background-color: transparent;
          color: #0b0b0b;
          cursor: pointer;
          transition: .3s;
          font-size: 14px;

          &:hover {
            color: black;
          }
        }
      }
    }
  }
</style>
