<template>
  <div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title">Редактирование объекта формы</h3>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <ul class="nav nav-tabs">
            <li class="nav-item" :class="{active: tab === 'params'}">
              <a class="nav-link" href="#" @click="tab = 'params'">Параметры</a>
            </li>
            <li class="nav-item" :class="{active: tab === 'conditions'}">
              <a class="nav-link" href="#" @click="tab = 'conditions'">Условия</a>
            </li>
          </ul>

          <div class="tab params" v-if="tab === 'params'">
            <div class="form-group" v-if="popupData.tag !== 'custom'">
              <label>Название поля</label>
              <input type="text" v-model="popupData.title" class="form-control">
            </div>

            <div class="form-group" v-if="~placeholderElms.indexOf(popupData.tag)">
              <label>Подсказка в поле</label>
              <input type="text" v-model="popupData.placeholder" class="form-control">
            </div>

            <div class="form-group" v-if="popupData.tag === 'input' && popupData.type === 'file'">
              <label>
                <input type="checkbox" v-model="popupData.multiple">
                Разрешить загрузку нескольких файлов
              </label>
            </div>

            <div class="form-group" v-if="popupData.tag !== 'custom'">
              <label>
                <input type="checkbox" v-model="popupData.required">
                Обязательное поле
              </label>
            </div>

            <div class="options-table" v-if="~optionsElm.indexOf(popupData.tag)">
              <table class="table table-bordered table-hover">
                <thead>
                <tr>
                  <th>Значение</th>
                  <th>Текст</th>
                  <th>Действие</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="option in popupData.options">
                  <td>
                    <input class="form-control" v-model="option.value">
                  </td>
                  <td>
                    <input class="form-control" v-model="option.name">
                  </td>
                  <td>
                    <button type="button" class="btn btn-primary" @click="addOption">Добавить</button>
                    <button type="button" class="btn btn-corall" @click="removeOption(option)">Удалить</button>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>

            <div v-if="popupData.tag !== 'custom'">
              <label>Подсказка</label>
              <textarea v-model="popupData.hint" class="form-control textArea">{{ popupData.hint }}</textarea>
            </div>

            <div v-if="popupData.tag === 'custom'">
              <label>Параграф</label>
              <textarea class="form-control richTextBox">{{ popupData.text }}</textarea>
            </div>
          </div>

          <div class="tab params" v-if="tab === 'conditions'">
            <conditions :conditions="popupData.conditions" :field="popupData"></conditions>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success" @click.prevent="save">Применить</button>
          <button type="button" class="btn btn-corall" data-dismiss="modal" @click.prevent="$emit('close')">Отмена</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import Conditions from './popup/conditions';

  export default {
    name: 'editor-element-popup',
    components: { Conditions },
    props: ['popupData'],
    data: () => ({
      tab: 'params',
    }),
    methods: {
      addOption() {
        this.popupData.options.push({
          value: `option-${this.popupData.options.length + 1}`,
          name: `Вариант ${this.popupData.options.length + 1}`,
        })
      },
      removeOption(option) {
        this.popupData.options.splice(this.popupData.options.indexOf(option), 1);
      },
      save() {
        this.$emit('save', this.popupData);
      }
    },
    computed: {
      placeholderElms() {
        return ['input', 'textarea']
      },
      optionsElm() {
        return ['select', 'radio', 'checkbox'];
      }
    },
    mounted() {
      if (!this.popupData.conditions) {
        this.popupData.conditions = {
          type: 'AND',
          conditions: [],
        };
      } else if (Array.isArray(this.popupData.conditions)) {
        this.popupData.conditions = {
          type: 'AND',
          conditions: this.popupData.conditions,
        };
      }
    }
  }
</script>

<style lang="scss" scoped>
  .modal {
    display: block;
    background: rgba(0, 0, 0, .7);
    z-index: 64000;

    .modal-header {
      &:after, &:before {
        content: none;
      }

      display: flex;
      justify-content: space-between;
    }

    .modal-dialog {
      width: 70%;

      .modal-body {
        overflow: auto;
        max-height: calc(100vh - 200px);

        .nav {
          margin-bottom: 10px;
        }
      }
    }
  }
</style>
