<template>
  <draggable
    class="fields"
    :list="elements"
    :group="{ name: 'form', pull: 'clone', put: false }"
    :clone="clone"
  >
    <div class="field" v-for="element in elements">
      {{ element.title }}
    </div>
  </draggable>
</template>

<script>
  import Draggable from 'vuedraggable';

  export default {
    name: 'fields',
    components: { Draggable },
    props: ['elements'],
    methods: {
      clone(element) {
        const newElm = JSON.parse(JSON.stringify(element));
        newElm.name = `element_${(new Date()).getTime()}`;
        return newElm;
      }
    },
  }
</script>

<style lang="scss" scoped>
  .fields {
    .field {
      background-color: #FFFFFF;
      border: 1px solid black;
      text-align: center;
      margin-bottom: 10px;
    }
  }
</style>
