<template>
  <div>
    <router-view></router-view>
    <notifications></notifications>
  </div>
</template>

<script>
  import Notifications from './notifications/notifications';
  export default {
    name: 'app',
    components: { Notifications }
  }
</script>

<style lang="scss">
  @import "~vue-select/src/scss/vue-select.scss";
</style>
