<template>
  <div class="form-group">
    <label :for="elm.name">
      {{ elm.title }}
      <button v-if="elm.hint" type="button" v-tooltip="{content: elm.hint, html: true}">?</button>
    </label>
    <p v-for="option in elm.options">
      <label>
        <input type="checkbox" v-model="elm.value" :name="`${elm.name}[]`" :value="option.value">
        {{ option.name }}
      </label>
    </p>

    <div class="message" v-if="validation.hasError('elm.value')">{{ validation.firstError('elm.value') }}</div>
  </div>
</template>

<script>
  import { Validator } from 'simple-vue-validator';

  export default {
    name: 'checkbox-element',
    props: ['elm'],
    validators: {
      'elm.value'(val) {
        const validator = Validator.value(val || []);
        if (this.elm.required) {
          validator.required('Поле обязательно для заполнения');
        }

        return validator;
      }
    },
  }
</script>

<style scoped>
  .message {
    color: var(--danger);
  }
</style>
