<template>
  <div class="form-group">
    <label :for="elm.name">
      {{ elm.title }}
      <button v-if="elm.hint" type="button" v-tooltip="{content: elm.hint, html: true}">?</button>
    </label>
    <select class="form-control" :id="elm.name" v-model="elm.value" :name="elm.name">
      <option v-for="option in elm.options" :value="option.value" :selected="option.selected">{{ option.name }}</option>
    </select>

    <div class="message" v-if="validation.hasError('elm.value')">{{ validation.firstError('elm.value') }}</div>
  </div>
</template>

<script>
  import { Validator } from 'simple-vue-validator';


  export default {
    name: 'select-element',
    props: ['elm'],
    validators: {
      'elm.value'(val) {
        const validator = Validator.value(val || '');
        if (this.elm.required) {
          validator.required('Поле обязательно для заполнения');
        }

        return validator;
      }
    },
  }
</script>

<style lang="scss" scoped>
  .message {
    color: var(--danger);
  }
</style>
