<template>
  <div class="form">
    <ul class="nav nav-tabs" v-if="form.steps.length > 1">
      <li class="nav-item" v-for="(step, idx) in form.steps">
        <span class="nav-link" :class="{active: idx === currentStep}" href="#">{{ step.name }}</span>
      </li>
    </ul>
    <div class="steps">
      <div class="step" v-for="(step, idx) in form.steps" v-show="currentStep === idx">
        <step :data="step.data" :ref="`step_${idx}`"></step>
      </div>
    </div>

    <div class="action-buttons text-left mt-3">
      <button type="button" class="btn btn-primary" v-if="currentStep > 0" @click.prevent="prevStep">Назад</button>
      <button type="submit" class="btn btn-primary btn-shadow font-size-md" v-if="currentStep === form.steps.length - 1 && !isInformation" @click="submit">Отправить</button>
      <button type="button" class="btn btn-success" v-else-if="currentStep !== form.steps.length - 1" @click.prevent="nextStep">Далее</button>
    </div>
    <form-too-large-popup v-if="tooLarge" @close="tooLarge = false"></form-too-large-popup>
  </div>
</template>

<script>
  import FormTooLargePopup from './form-too-large-popup';
  window.form = window.form || { steps: [] };

  if (window.result) {
    window.form.steps.forEach(step => {
      step.data.forEach(row => {
        row.cols.forEach(col => {
          col.data.forEach(field => {
            if (window.result[field.name]) {
              field.value = window.result[field.name];
            }
          });
        });
      });
    });
  }

  import Step from './step';
  export default {
    name: 'app',
    components: { FormTooLargePopup, Step },
    data: () => ({
      currentStep: 0,
      form: window.form,
      formValid: false,
      tooLarge: false,
    }),
    methods: {
      nextStep() {
        console.log(this.$refs[`step_${this.currentStep}`][0]);
        this.$refs[`step_${this.currentStep}`][0].validate()
          .then(result => {
            if (result) {
              if (this.currentStep < this.form.steps.length - 1) {
                this.currentStep++;
              }
            }
          });
      },
      submit(event) {
        if (this.formValid) return true;

        event.preventDefault();
        Promise.all(this.form.steps.map((step, idx) => {
          return this.$refs[`step_${idx}`][0].validate();
        }))
          .then(results => {
            const result = results.reduce((a, c) => {return a && c }, true);
            if (result && this.checkTooLargeForm()) {
              this.formValid = true;
              event.target.click();
            }
          });
      },
      prevStep() {
        if (this.currentStep > 0) {
          this.currentStep--;
        }
      },
      checkTooLargeForm() {
        let totalSize = 0;
        document.querySelectorAll('.form input[type="file"]').forEach(inp => {
          if (inp.files) {
            for (let i = 0; i < inp.files.length; i++) {
              totalSize += inp.files[i].size/1024/1024;
            }
          }
        });

        if (totalSize > 50) {
          this.tooLarge = true;
          return false;
        }

        return true;
      },
    },
    computed: {
      isInformation() {
        return window.serviceType === 'N';
      }
    },
  }
</script>

<style lang="scss">
  $color: rgba(0, 0, 0, 0.75);

  .has-tooltip {
    background-color: $color;
    border: none;
    border-radius: 100%;
    color: #fff;
    display: inline-block;
    width: 20px;
    height: 20px;
  }

  .tooltip {
    * {
      color: #fff !important;

      &:last-child {
        margin-bottom: 0 !important;
      }
    }

    img {
      max-height: 200px;
    }

    display: block !important;
    z-index: 10000;

    .tooltip-inner {
      background: $color;
      color: white;
      border-radius: 16px;
      padding: 5px 10px 4px;
    }

    .tooltip-arrow {
      width: 0;
      height: 0;
      border-style: solid;
      position: absolute;
      margin: 5px;
      border-color: $color;
      z-index: 1;
    }

    &[x-placement^="top"] {
      margin-bottom: 5px;

      .tooltip-arrow {
        border-width: 5px 5px 0 5px;
        border-left-color: transparent !important;
        border-right-color: transparent !important;
        border-bottom-color: transparent !important;
        bottom: -5px;
        left: calc(50% - 5px);
        margin-top: 0;
        margin-bottom: 0;
      }
    }

    &[x-placement^="bottom"] {
      margin-top: 5px;

      .tooltip-arrow {
        border-width: 0 5px 5px 5px;
        border-left-color: transparent !important;
        border-right-color: transparent !important;
        border-top-color: transparent !important;
        top: -5px;
        left: calc(50% - 5px);
        margin-top: 0;
        margin-bottom: 0;
      }
    }

    &[x-placement^="right"] {
      margin-left: 5px;

      .tooltip-arrow {
        border-width: 5px 5px 5px 0;
        border-left-color: transparent !important;
        border-top-color: transparent !important;
        border-bottom-color: transparent !important;
        left: -5px;
        top: calc(50% - 5px);
        margin-left: 0;
        margin-right: 0;
      }
    }

    &[x-placement^="left"] {
      margin-right: 5px;

      .tooltip-arrow {
        border-width: 5px 0 5px 5px;
        border-top-color: transparent !important;
        border-right-color: transparent !important;
        border-bottom-color: transparent !important;
        right: -5px;
        top: calc(50% - 5px);
        margin-left: 0;
        margin-right: 0;
      }
    }

    &.popover {
      .popover-inner {
        background: $color;
        color: black;
        padding: 24px;
        border-radius: 5px;
        box-shadow: 0 5px 30px rgba(black, .1);
      }

      .popover-arrow {
        border-color: $color;
      }
    }

    &[aria-hidden='true'] {
      visibility: hidden;
      opacity: 0;
      transition: opacity .15s, visibility .15s;
    }

    &[aria-hidden='false'] {
      visibility: visible;
      opacity: 1;
      transition: opacity .15s;
    }
  }

  .nav.nav-tabs {
    margin-bottom: 20px;
  }
</style>
