<template>
  <div class="group">
    <div class="group-header" :class="{open: open}" @click="open = !open">
      <slot name="header"></slot>
    </div>
    <div class="group-body" v-if="open">
      <slot></slot>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'group',
    data: () => ({
      open: false
    }),
  }
</script>

<style lang="scss" scoped>
  .group {
    margin-bottom: 10px;
    &-header {
      background-color: #20cb1c;
      color: black;
      border: 1px solid black;
      text-align: center;
      padding: 10px;
      position: relative;

      &.open {
        background-color: red;

        &::after {
          transform: rotate(-45deg);
          top: 18px;
        }
      }

      &::after {
        position: absolute;
        right: 15px;
        top: 14px;
        border-top: 1px solid black;
        border-right: 1px solid black;
        content: " ";
        width: 10px;
        height: 10px;
        transform: rotate(135deg);
        transition: .3s;
      }
    }

    &-body {
      border: 1px solid black;
      border-top: none;
      padding: 10px;
    }
  }
</style>
