<template>
  <div v-if="template === 'popup'">
    <div class="modal fade" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Выберите дату и время для приглашения</h4>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label>Выберите дату</label>
              <div class="datepicker">
                <date-picker v-model="date" type="date" format="DD.MM.YYYY" @change="loadInvites"></date-picker>
              </div>
            </div>

            <div class="invite-table" v-if="!loading && invites">
              <div class="invites-table">
                <div class="invite-col" v-for="(times, hour) in invites">
                  <div class="invite-cell" v-for="time in times">
                    <button class="btn btn-default" :class="{'btn-brown': date === time}" v-if="time !== null" @click="date = time">{{ timeFormat(time) }}</button>
                    <span v-else>&nbsp;</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" @click="apply">Применить</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Отменить</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="side card" v-else>
    <div class="invite">
      <div class="card-header">
        <h5>Назначить дату визита</h5>
      </div>  
      <div class="card-body">
        <div class="form-group">
          <label>Выберите дату</label>
          <div class="datepicker">
            <date-picker v-model="date" type="date" format="DD.MM.YYYY" @change="loadInvites" :disabled-date="disabledDate"></date-picker>
          </div>
        </div>

        <div class="form-group">
          <label>Выберите окно</label>
          <select v-model="window" class="form-control" @change="changeWindow">
            <option :value="null">Выберите окно</option>
            <option v-for="win in windows" :value="win.id">{{ win.name }}</option>
          </select>
        </div>

        <div class="invite-table" v-if="!loading && invites">
          <div class="invites-table">
            <div class="invite-col" v-for="times in invites">
                <button
                  v-for="time in times"
                  class="btn invite-cell btn-sm"
                  :class="{'btn-secondary': !time.status, 'btn-primary': time.status, 'btn-success': date.toString() === new Date(time.time).toString()}"
                  :disabled="!time.status"
                  @click="changeTime(time.time)"
                >{{ timeFormat(time.time) }}</button>
            </div>
          </div>
        </div>
      </div>  
    </div>
  </div>
</template>

<script>
  import DatePicker from 'vue2-datepicker';
  import 'vue2-datepicker/locale/ru';

  import moment from 'moment';

  export default {
    name: 'invite-popup',
    components: { DatePicker },
    props: ['template', 'current', 'ticket'],
    data: function () {
      return {
        date: this.current ? new Date(this.current.date) : null,
        loading: false,
        invites: null,
        window: this.current ? this.current.window : null,
      }
    },
    methods: {
      changeTime(time) {
        this.date = new Date(time);
        if (this.template === 'side') {
          this.$emit('apply', {
            window: this.window,
            date: this.date,
          });
        }
      },
      changeWindow() {
        if (this.template === 'side') {
          this.$emit('apply', {
            window: this.window,
            date: this.date,
          });
        }
      },
      timeFormat(time) {
        return moment(time).format('HH:mm');
      },
      loadInvites() {
        if (!this.date) return;
        this.loading = true;
        const date = moment(this.date).format('YYYY-MM-DD');
        $.ajax({
          url: `/api/invite/available?date=${date}&ticket_id=${this.ticket}`,
          success: ({ invites }) => {
            this.invites = invites;
          },
          complete: () => this.loading = false,
        });
      },
      apply() {
        this.$emit('apply', {
          window: this.window,
          date: this.date,
        });
      },
      disabledDate(date) {
        return (date - new Date()) / 1000 / 60 / 60 < -24;
      }
    },
    computed: {
      windows() {
        return window.windows;
      },
    },
    mounted() {
      this.loadInvites();
    }
  }
</script>

<style lang="scss" scoped>
  @import '~vue2-datepicker/index.css';

  .modal {
    opacity: 1;
    display: flex;
    background: rgba(0, 0, 0, .7);
    z-index: 2000;

    .modal-dialog {
      margin: auto;
      max-width: 80%;

      .modal-header {
        display: flex;
        justify-content: space-between;
      }
    }
  }

  .mx-datepicker {
    width: 100%;
  }

  .invites-table {
    .invite-col {
      display: flex;
      justify-content: space-around;

      .invite-cell {
        margin-bottom: 7px;
        margin-right: 3px;

        button, span {
          height: 38px;
          width: 100%;
        }
      }
    }
  }
</style>
