<template>
  <div v-if="ticket === null">
    <h1>Загрузка...</h1>
  </div>
  <div v-else>
    <div class="subheader py-6 py-lg-8 subheader-transparent" id="kt_subheader">
      <div class="container d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
        <!--begin::Info-->
        <div class="d-flex align-items-center flex-wrap mr-1">
          <!--begin::Page Heading-->
          <div class="d-flex align-items-baseline flex-wrap mr-5">
            <!--begin::Breadcrumb-->
            <ul class="breadcrumb breadcrumb-transparent breadcrumb-dot font-weight-bold p-0 my-2 font-size-sm">
              <li class="breadcrumb-item text-muted">
                <a href="/ticket" class="text-muted">Мои заявки</a>
              </li>
              <li class="breadcrumb-item text-muted">
                <a href="#" class="disabled text-muted">Заявка</a>
              </li>
            </ul>
            <!--end::Breadcrumb-->
          </div>
          <!--end::Page Heading-->
        </div>
      </div>
    </div>
    <div class="d-flex flex-column-fluid">
      <div class="row">
        <div class="col-lg-6">

          <div class="card card-custom gutter-b example example-compact">
            <div class="card-header">
              <h3 class="card-title">
                Заявка #{{ ticket.id }} от: {{ formatDate(ticket.created_at, 'MM.DD.YYYY') }}
              </h3>

              <div class="d-flex align-items-center mr-2">
                <span :class="`label label-light-success label-lg font-weight-bold label-inline ${ticket.status_class}`">
                  {{ ticket.status_name }}
                </span>
              </div>
            </div>

            <!--begin::Form-->
            <form class="form">
              <div class="card-body">
                <div class="form-group form-group-last">
                  <h4 class="card-title">{{ ticket.form_result.form.service.name }}</h4>
                </div>

                <div class="form-group" v-for="field in form">
                  <label>{{ field.title }}</label>
                  <div class="custom-file ml-2">
                    <a class="py-1"
                       v-if="field.tag === 'input' && field.type === 'file'"
                       v-for="file in findFieldValue(field)"
                       :href="`/storage/${file.path}`" target="_blank"
                       :download="makeAttachmentName(file)"
                    >
                      <span class="mr-0">
                        <i class="icon-xl text-info la la-file-download"></i>
                      </span>
                      <span class="navi-text">{{ file.name }}</span>
                    </a>
                    <span v-else v-html="findFieldValue(field)"></span>
                  </div>
                </div>
              </div>

            </form>
            <!--end::Form-->

          </div>
          <div class="card card-custom gutter-b example example-compact">
            <!--begin::Header-->
            <div class="d-flex card-header align-items-center justify-content-between flex-wrap card-spacer-x py-5">
              <!--begin::Title-->
              <div class="d-flex align-items-center mr-2 py-2">
                <div class="font-weight-bold font-size-lg mr-3">Комментарии</div>
              </div>

              <div class="card-toolbar"></div>

              <div class="btn-group" v-if="checkedComments.length > 0">
                <button type="button" class="btn btn-light-primary">
                  Применить к выделенным</button>
                <button type="button" class="btn btn-light-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                <div class="dropdown-menu dropdown-menu-md dropdown-menu-right" style="">
                  <ul class="nav nav-hover flex-column">
                    <li class="nav-item">
                      <a href="#" class="nav-link" @click="setCommentsType(`A`)">

                        <span class="nav-text" >Виден всем</span>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a href="#" class="nav-link" @click="setCommentsType(`O`)">

                        <span class="nav-text">Виден только модераторам</span>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a href="#" class="nav-link" @click="setCommentsType('M')">

                        <span class="nav-text">Виден модераторам и операторам</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <!--end::Header-->
            <!--begin::Messages-->
            <div class="mb-3" v-for="comment in ticket.comments">
              <div class="shadow-xs" data-inbox="message">
                <div class="d-flex align-items-center card-spacer-x py-6">
                        <span class="symbol symbol-50 mr-4">
                          <span class="symbol-label"
                                :style="`background-image: url('${comment.user.avatar_url}')`"></span>
                        </span>
                  <div class="d-flex flex-column flex-grow-1 flex-wrap mr-2">
                    <div class="d-flex">
                      <span class="font-size-lg font-weight-bolder text-dark-75 mr-2">
                        {{ comment.user.firstname }} {{ comment.user.name }}<br>
                        <span class="font-size-base font-weight-normal">
                          {{ comment.user.organization_name }}
                        </span>
                      </span>
                    </div>

                  </div>
                  <div class="d-flex align-items-center">
                    <select class="form-control btn btn-sm btn-light-primary" v-if="comment.user_id != currentUser" v-model="comment.status" @change="setCommentStatus(comment)">
                      <option value="R">Прочитано</option>
                      <option value="N">Не прочитано</option>
                    </select>
                    <label class="pl-3 checkbox checkbox-outline checkbox-outline-2x checkbox-primary">
                      <input type="checkbox" v-model="checkedComments" :value="comment.id">
                      <span></span>
                    </label>
                  </div>
                </div>
                <div class="card-spacer-x py-3">
                  <div class="font-weight-bold text-muted mr-3">
                    {{ ruDateFormat(comment.created_at) }}
                    <span v-if="comment.visibility === 'O'">(Виден только модераторам)</span>
                    <span v-else-if="comment.visibility === 'M'">(Виден модераторам и операторам)</span>
                    <span v-else>(Виден всем)</span>
                  </div>
                  <div v-html="comment.text"></div>
                  <div class="d-flex align-items-center py-3">
                    <div class="mr-4" v-for="attachment in comment.attachment">
                      <a target="_blank" :download="makeAttachmentName(attachment)"
                         class="py-1"
                         :href="`/storage/${attachment.path}`">
                        <span class="mr-0">
                          <i class="icon-xl text-info la la-file-download"></i>
                        </span>
                        {{ attachment.name }}
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!--begin::Reply-->
            <div class="mb-3" id="kt_inbox_reply">
              <div class="card-body p-0">
                <!--begin::Form-->
                <form id="kt_inbox_reply_form" @submit.prevent="sendComment()">
                  <!--begin::Body-->
                  <div class="d-block">

                    <!--begin::Message-->
<!--                    <input type="hidden" v-model="commentForm.comment" name="text">-->
<!--                    <div data-placeholder="Введите текст..." id="comment"></div>-->
                    <quill-editor
                        :options="editorOption"
                        v-model="commentForm.comment"
                    >
                    </quill-editor>
                  </div>
                    <!--end::Message-->

                  <!--end::Body-->
                  <!--begin::Footer-->

                  <div class="d-flex align-items-center justify-content-between py-5 pl-8 pr-5 border-top">
                    <!--begin::Actions-->

                    <div class="align-items-center mr-3">
                      <!--begin::Send-->
                      <div class="btn-group mr-3">
                        <button class="btn btn-primary font-weight-bold px-6">Отправить</button>
                      </div>
                      <!--end::Send-->
                      <!--begin::Other-->
                      <label type="reset" class="btn btn-light-primary mr-2 mt-2">
                        <i class="la la-paperclip"></i>{{ filesText }}
                        <input @change="changeFiles" type="file" style="display: none"
                               id="customFile" name="attachment[]"
                               multiple>
                      </label>
                      <div class="btn-group mr-3">
                        <select class="form-control" tabindex="null" v-model="commentForm.visibility">
                          <option value="O">Виден только модераторам</option>
                          <option value="M">Виден модераторам и операторам</option>
                          <option value="A">Виден всем</option>
                        </select>
                      </div>
                      <!--end::Other-->
                    </div>
                    <!--end::Actions-->
                  </div>
                  <!--end::Footer-->
                </form>
                <!--end::Form-->
              </div>

            </div>
            <!--end::Reply-->
          </div>

        </div>
        <div class="col-lg-4 flex-row-auto" id="kt_profile_aside">

          <div class="card card-custom gutter-b">
            <!--begin::Body-->
            <div class="card-header">
              <div class="card-title">
                <h3 class="card-label">Заявитель</h3>
              </div>
            </div>
            <div class="card-body pt-4">

              <!--begin::User-->
              <div class="d-flex align-items-center py-5">
                <div class="symbol symbol-60 symbol-xxl-90 mr-5 align-self-start align-self-xxl-top">
                  <div class="symbol-label" :style="`background-image:url('${ticket.form_result.user.avatar_url}')`"></div>
                  <i class="symbol-badge bg-success"></i>
                </div>
                <div>
                  <div class="font-weight-bolder font-size-h5 text-dark-75">
                    {{ ticket.form_result.user.name }} {{ ticket.form_result.user.firstname }}
                  </div>
                  <div class="text-muted" v-if="ticket.form_result.user.company">{{
                      ticket.form_result.user.company.name
                    }}
                  </div>
                  <div class="d-flex align-items-center mb-2">
                    <a href="#"
                       class="text-primary text-hover-primary font-weight-bold">{{ ticket.form_result.user.phone }}</a>
                  </div>
                  <div class="navi navi-bold navi-hover navi-active navi-link-rounded">
                    <div class="navi-item mt-2">
                      <div class="d-flex align-items-center mb-2">
                        <a v-if="ticket.form_result.user.company"
                           :href="`/companies/${ ticket.form_result.user.company.id }`"
                           class="text-hover-primary font-weight-bold navi-link py-4 active">Профиль компании</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!--end::User-->
            </div>
            <!--end::Body-->
          </div>
          <!--begin::Nav Panels Wizard 2-->
          <div class="card card-custom gutter-b">
            <!--begin::Body-->
            <div class="card-header">
              <div class="card-title">
                <h3 class="card-label">Управление заявкой</h3>
              </div>
            </div>
            <div class="card-body pt-4">
<!--              <div v-if="ticket_status == 'I'">-->
<!--                  <form @submit.prevent="sendInvite()">-->
<!--                    <div class="dropdown bootstrap-select form-control dropup pb-2 pt-3">-->
<!--                      -->
<!--                    </div>-->
<!--                    <div class="btn-group mr-3 mt-2">-->
<!--                      <button v-if="invite.date != null & !invite.new" class="btn btn-light-warning font-weight-bold px-6">Изменить приглашение</button>-->
<!--                      <button v-else class="btn btn-light-primary font-weight-bold px-6">Отправить приглашение</button>-->
<!--                    </div>-->
<!--                  </form>-->
<!--                </div>-->

              <label class="form-label" v-if="ticket.status === 'I'">Время приглашения</label>
              <input type="datetime-local" class="form-control" v-model="invite.date"
                     placeholder="Выберите дату" v-if="ticket.status === 'I'">
              <label class="form-label mt-3">Статус заявки</label>
              <select v-model="ticket.status" class="form-control" @click="statusChange">
                <option v-for="(text, status) in availableStatuses" :value="status">
                  {{ text }}
                </option>
              </select>
              <label class="form-label mt-3">Модератор</label>

              <select v-model="ticket.operator_id" class="form-control">
                <option v-for="(item) in operatorOptions" :value="item.code">
                  {{ item.label }}
                </option>
              </select>

              <label class="form-label mt-3">Министерство</label>
              <select v-model="ticket.window_id" class="form-control" id="organization">
                <option :value="null">Выберите окно</option>
                <option v-for="(item) in organizations" :value="item.id">{{ item.name }}</option>
              </select>

              <input id="current-user" type="hidden" :value="currentUser">
              <div class="btn-group mr-3 mt-3">
                <button class="btn btn-primary font-weight-bold px-6 mt-3" @click="saveStatus">Применить</button>
              </div>
            </div>

            <!--end::Body-->
          </div>
          <!--end::Nav Panels Wizard 2-->

          <div class="accordion accordion-solid accordion-panel accordion-svg-toggle pb-5" id="accordionExample8">
            <div class="card">
              <div class="card-header" id="headingThree8">
                <div class="card-title collapsed" data-toggle="collapse" data-target="#collapseThree8">
                  <div class="card-label">История изменений</div>
                  <span class="svg-icon">
                      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px"
                           height="24px" viewBox="0 0 24 24" version="1.1">
                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                          <polygon points="0 0 24 0 24 24 0 24"></polygon>
                          <path
                              d="M12.2928955,6.70710318 C11.9023712,6.31657888 11.9023712,5.68341391 12.2928955,5.29288961 C12.6834198,4.90236532 13.3165848,4.90236532 13.7071091,5.29288961 L19.7071091,11.2928896 C20.085688,11.6714686 20.0989336,12.281055 19.7371564,12.675721 L14.2371564,18.675721 C13.863964,19.08284 13.2313966,19.1103429 12.8242777,18.7371505 C12.4171587,18.3639581 12.3896557,17.7313908 12.7628481,17.3242718 L17.6158645,12.0300721 L12.2928955,6.70710318 Z"
                              fill="#000000" fill-rule="nonzero"></path>
                          <path
                              d="M3.70710678,15.7071068 C3.31658249,16.0976311 2.68341751,16.0976311 2.29289322,15.7071068 C1.90236893,15.3165825 1.90236893,14.6834175 2.29289322,14.2928932 L8.29289322,8.29289322 C8.67147216,7.91431428 9.28105859,7.90106866 9.67572463,8.26284586 L15.6757246,13.7628459 C16.0828436,14.1360383 16.1103465,14.7686056 15.7371541,15.1757246 C15.3639617,15.5828436 14.7313944,15.6103465 14.3242754,15.2371541 L9.03007575,10.3841378 L3.70710678,15.7071068 Z"
                              fill="#000000" fill-rule="nonzero" opacity="0.3"
                              transform="translate(9.000003, 11.999999) rotate(-270.000000) translate(-9.000003, -11.999999)"></path>
                        </g>
                      </svg>
                    </span>
                </div>
              </div>
              <div id="collapseThree8" class="collapse" data-parent="#accordionExample8">
                <div class="card-body">
                  <p class="font-weight-bold">Дата создания<br>
                    <span class="text-dark-50">{{ ticket.created_at ? ruDateFormat(ticket.created_at) : 'Неизвестно' }}</span>
                  </p>
                  <p class="font-weight-bold">Дата изменения<br>
                    <span class="text-dark-50">{{ ticket.updated_at ? ruDateFormat(ticket.updated_at) : 'Неизвестно' }}</span>
                  </p>
                  <p class="font-weight-bold">Дата отправки<br>
                    <span class="text-dark-50">{{ ticket.plan_end_date ? ruDateFormat(ticket.plan_end_date) : 'Неизвестно' }}</span>
                  </p>
                  <p class="font-weight-bold">Дата принятия в работу<br>
                    <span class="text-dark-50">{{ ticket.plan_end_date ? ruDateFormat(ticket.plan_end_date) : 'Неизвестно' }}</span>
                  </p>
                  <p class="font-weight-bold">Плановая дата закрытия<br>
                    <span class="text-dark-50">{{ ticket.plan_end_date ? ruDateFormat(ticket.plan_end_date) : 'Неизвестно' }}</span>
                  </p>
                  <p class="font-weight-bold">Фактическая дата закрытия<br>
                    <span class="text-dark-50" v-if="ticket.fact_end_date">{{ ruDateFormat(ticket.fact_end_date) }}</span>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import moment from 'moment';
import VSelect from 'vue-select';
import {statuses, availableStatuses} from '../../../services/statuses';
import InvitePopup from './invite-popup';
import { quillEditor } from 'vue-quill-editor'

export default {
  name: 'ticket.show',
  components: {InvitePopup, VSelect,  quillEditor},
  props: ['id'],
  data: () => ({
    tab: 'form',
    ticket: null,
    currentUser: null,
    cticket: null,
    ticket_status: null,
    operator: null,
    commentForm: {
      comment: '',
      files: [],
      visibility: 'A',
    },
    checkedComments: [

    ],
    invite: {
      date: null,
      time: null,
      new: true
    },
    operators: [],
    organizations: [],
    showPopup: false,
    editorOption: {
      modules: {
        toolbar: false
      },
      placeholder: "Введите текст..."
    }
  }),
  methods: {
    makeAttachmentName(file) {
      const tmp = file.path.split('.');
      const ext = tmp[tmp.length - 1];
      return `${file.name.replace("." + ext, '')}.${ext}`;
    },
    statusChange() {
      if (this.ticket.status === 'I') {
        this.showPopup = true;
      }
    },
    applyInviteDate({date, window}) {
      this.invite.date = date;
      this.invite.window = window;
    },
    findFieldValue(field) {
      if (field.options) {
        if (Array.isArray(this.formData[field.name])) {
          return this.formData[field.name].map(res => `<p>${field.options[res]}</p>`).join('');
        } else {
          return field.options[this.formData[field.name]];
        }
      }

      return this.formData[field.name];
    },
    ruStatus(status) {
      return statuses[status];
    },
    formatDate(date, format) {
      return moment(date).format(format);
    },
    ruDateFormat(date) {
      return moment(date).format('DD.MM.YYYY HH:mm')
    },
    changeFiles(event) {
      this.commentForm.files = event.target.files;
    },
    sendComment() {
      const fd = new FormData;
      fd.append('_token', $('meta[name="csrf-token"]').attr('content'));
      fd.append('text', this.commentForm.comment.split('\n').join('<br>'));
      fd.append('visibility', this.commentForm.visibility);
      Array.from(this.commentForm.files).forEach(file => fd.append('attachment[]', file));

      $.ajax({
        url: `/api/ticket/${this.ticket.id}/comment`,
        data: fd,
        processData: false,
        contentType: false,
        type: 'POST',
        success: ({ticket, token}) => {
          $('meta[name="csrf-token"]').attr('content', token);
          this.ticket = ticket;
          this.cticket = {...ticket};
          this.commentForm.comment = '';
          this.commentForm.files = [];
          this.$nextTick(() => this.$forceUpdate());
        }
      });
    },
    saveStatus() {
      let data;
      if (this.ticket.status === 'I') {
        if (!this.invite.date) {
          this.$flash_danger("Не выбрано время визита");
          return;
        }
        data = {
          operator_id: this.ticket.operator_id,
          status: this.ticket.status,
          invite: {
            window: this.invite.window,
            time: moment(this.invite.date).format("YYYY-MM-DD HH:mm"),
            new: true,
          },
          _token: $('meta[name="csrf-token"]').attr('content')
        };
      } else {
        data = {
          operator_id: this.ticket.operator_id,
          status: this.ticket.status,
          window_id: $('#organization').val(),
          _token: $('meta[name="csrf-token"]').attr('content')
        };
      }
      $.ajax({
        url: `/api/ticket/${this.ticket.id}/status`,
        data,
        type: 'POST',
        success: ({ticket, token}) => {
          $('meta[name="csrf-token"]').attr('content', token);
          this.ticket = ticket;
          this.cticket = {...ticket};
          this.ticket.status = ticket.status;
          this.$nextTick(() => this.$forceUpdate());

          this.$flash_success('Параметры заявки успешно обновлены');
        },
        error: () => {
          this.$flash_danger('При изменении статуса произошла ошибка. Попробуйте обновить страницу и повторить попытку.');
        }
      });
    },
    setCommentStatus(comment) {
      let data = {
        status: comment.status,
        _token: $('meta[name="csrf-token"]').attr('content')
      };

      $.ajax({
        url: `/api/comments/${comment.id}/change-status`,
        data,
        type: 'POST',
        success: ({token}) => {
          $('meta[name="csrf-token"]').attr('content', token);

          this.$nextTick(() => this.$forceUpdate());

          this.$flash_success('Статус комментария успешно обновлен');
        },
        error: () => {
          this.$flash_danger('При изменении статуса произошла ошибка. Попробуйте обновить страницу и повторить попытку.');
        }
      });
    },
    setCommentsType(type) {
      let data = {
        comments: this.checkedComments,
        _token: $('meta[name="csrf-token"]').attr('content'),
        type: type,
      };

      $.ajax({
        url: `/api/comments/change-types`,
        data,
        type: 'POST',
        success: () => {
          let checkedComments = this.checkedComments;
          this.ticket.comments.forEach(function (comment) {
              if (checkedComments.indexOf(comment.id) !== -1) {
                  comment.visibility = type;
              }
          });

          this.checkedComments = [];
          this.$flash_success('Видимость комментария успешно обновлена');
        }
      });
    },
    sendInvite() {
      let data = {
        date: this.invite.date,
        _token: $('meta[name="csrf-token"]').attr('content')
      };

      $.ajax({
        url: `/api/ticket/${this.ticket.id}/send-invite`,
        data,
        type: 'POST',
        success: ({token}) => {
          $('meta[name="csrf-token"]').attr('content', token);

          this.invite.new = false
          this.$nextTick(() => this.$forceUpdate());

          this.$flash_success('Приглашение успешно отправлено');
        },
        error: () => {
          this.$flash_danger('При изменении статуса произошла ошибка. Попробуйте обновить страницу и повторить попытку.');
        }
      });
    }
  },
  computed: {
    availableStatuses() {
      if (this.cticket) {
        return availableStatuses({...this.cticket}.status);
      }

      return {};
    },
    form() {
      if (!this.ticket) return {};
      const form = typeof this.ticket.form_result.form.form_data === 'string'
          ? JSON.parse(this.ticket.form_result.form.form_data)
          : this.ticket.form_result.form.form_data;

      const formData = [];

      form.steps.forEach(step => {
        step.data.forEach(stepData => {
          stepData.cols.forEach(col => {
            col.data.forEach(elm => {
              if (elm.tag !== 'custom') {
                formData.push({
                  name: elm.name,
                  title: elm.title,
                  tag: elm.tag,
                  type: elm.type || false,
                  options: elm.options ? elm.options.reduce((a, c) => {
                    a[c.value] = c.name;
                    return a
                  }, {}) : null,
                });
              }
            });
          });
        });
      });

      return formData;
    },
    formData() {
      if (!this.ticket) return {};
      return typeof this.ticket.form_result.result === 'string'
          ? JSON.parse(this.ticket.form_result.result)
          : this.ticket.form_result.result;
    },
    filesText() {
      if (this.commentForm.files.length > 0) {
        return Array.from(this.commentForm.files).map(f => f.name).join(', ');
      } else {
        return 'Выберите файлы';
      }
    },
    operatorOptions() {
      return this.operators.map(u => ({
        label: `${u.firstname || ''} ${u.name || ''}`.trim(),
        code: u.id,
      }));
    },
  },
  created() {
    $.ajax(`/api/ticket/${this.id}`, {
      success: ({ticket}) => {
        this.ticket = ticket;
        this.ticket.status = ticket.status;
        this.cticket = {...ticket};
        this.invite = {
          date: ticket.invite ? this.formatDate(ticket.invite.invite_time, 'YYYY-MM-DDTHH:mm') : null,
          window: ticket.invite ? ticket.invite.window_id : null,
          new: ticket.invite ? false : true,
        };

        $.ajax(`/api/user?role=operator`, {
          success: ({users, windows, user}) => {
            this.operators = users;
            this.organizations = windows;
            this.currentUser = user;

            this.$nextTick(() => {
              this.operator = this.operators.find(o => o.code == this.ticket.operator_id);
            });
          }
        });

        this.$nextTick(() => this.$forceUpdate());
      }
    });

  }
}
</script>

<style lang="scss" scoped>
  .tab-content {
    .tab-pane {
      display: block;
    }
  }
  .quill-editor {
    height: 200px;
  }
</style>
