<template>
  <div class="form-builder">
    <h3>Конструктор форм</h3>

    <div class="row">
      <div class="col-md-3 box-scroll">
        <group>
          <template v-slot:header>Разметка формы</template>
          <templates :elements="templates"></templates>
        </group>

        <group>
          <template v-slot:header>Поля формы</template>
          <fields :elements="fields"></fields>
        </group>

        <group>
          <template v-slot:header>Поля пользователя</template>
          <user-fields :elements="userFields"></user-fields>
        </group>
      </div>
      <div class="col-md-9 box-scroll">
        <steps
          :steps="form.steps"
          @add-step="addStep()"
        ></steps>
      </div>
    </div>
  </div>
</template>

<script>
  import Group from './elements/group';
  import Templates from './elements/groups/templates';
  import Fields from './elements/groups/fields';
  import UserFields from './elements/groups/user-fields';
  import FormEditor from './editor/form';
  import Steps from './editor/steps';

  if (!(window.formBuilderData && Array.isArray(window.formBuilderData.steps))) {
    window.formBuilderData = {
      steps: [
        {
          name: 'Шаг 1',
          data: [],
        },
      ],
    };
  }

  export default {
    name: 'app',
    components: { Steps, UserFields, Fields, Templates, Group, FormEditor },
    data: () => ({
      form: window.formBuilderData,
      templates: [
        {
          name: 'Строка 12 колонок',
          type: 'row',
          cols: [{ number: 12, data: [] }],
        },
        {
          name: 'Строка 2 колоноки',
          type: 'row',
          cols: [
            { number: 6, data: [] },
            { number: 6, data: [] },
          ],
          data: [],
        },
        {
          name: 'Строка 2 колоноки слева широкая',
          type: 'row',
          cols: [
            { number: 8, data: [] },
            { number: 4, data: [] },
          ],
          data: [],
        },
        {
          name: 'Строка 3 равные колоноки',
          type: 'row',
          cols: [
            { number: 4, data: [] },
            { number: 4, data: [] },
            { number: 4, data: []},
          ],
          data: [],
        },
        {
          name: 'Строка 3 колоноки',
          type: 'row',
          cols: [
            { number: 2, data: [] },
            { number: 8, data: [] },
            { number: 2, data: []},
          ],
          data: [],
        },
      ],
      fields: [
        {
          name: '',
          placeholder: 'Текстовое поле',
          title: 'Текстовое поле',
          tag: 'input',
          type: 'text',
          required: false,
          value: '',
          hint: '',
        },
        {
          name: '',
          placeholder: 'Телефон',
          title: 'Телефон',
          tag: 'input',
          type: 'tel',
          mask: "\\+\\7 (111) 111 11-11",
          required: false,
          value: '',
          hint: '',
        },
        {
          name: '',
          placeholder: 'Электронная почта',
          title: 'Электронная почта',
          tag: 'input',
          type: 'email',
          required: false,
          value: '',
          hint: '',
        },
        {
          name: '',
          placeholder: 'Файл',
          title: 'Файл',
          tag: 'input',
          type: 'file',
          multiple: false,
          required: false,
          value: '',
          hint: '',
        },
        {
          name: '',
          placeholder: 'Произвольный текст',
          title: 'Произвольный текст',
          tag: 'textarea',
          required: false,
          value: '',
          hint: '',
        },
        {
          name: '',
          placeholder: 'Числовое поле',
          title: 'Числовое поле',
          tag: 'input',
          type: 'number',
          required: false,
          value: '',
          hint: '',
        },
        {
          name: '',
          placeholder: 'Дата',
          title: 'Дата',
          tag: 'input',
          type: 'date',
          required: false,
          value: '',
          hint: '',
        },
        {
          name: '',
          placeholder: 'Поле выбора',
          title: 'Поле выбора',
          tag: 'select',
          required: false,
          value: '',
          hint: '',
          options: [
            {
              value: 'option-1',
              name: 'Вариант 1',
              selected: true,
            },
            {
              value: 'option-2',
              name: 'Вариант 2',
              selected: false,
            },
            {
              value: 'option-3',
              name: 'Вариант 3',
              selected: false,
            },
          ]
        },
        {
          name: '',
          title: 'Один вариант',
          tag: 'radio',
          required: false,
          value: '',
          hint: '',
          options: [
            {
              value: 'option-1',
              name: 'Вариант 1',
              selected: true,
            },
            {
              value: 'option-2',
              name: 'Вариант 2',
              selected: false,
            },
          ]
        },
        {
          name: '',
          title: 'Несколько вариантов',
          tag: 'checkbox',
          value: [],
          hint: '',
          required: false,
          options: [
            {
              value: 'option-1',
              name: 'Вариант 1',
              selected: true,
            },
            {
              value: 'option-2',
              name: 'Вариант 2',
              selected: true,
            },
          ]
        },
        {
          tag: 'custom',
          title: 'Параграф',
          text: '',
        },
      ],
      userFields: [
        { userField: true, placeholder: 'Фамилия', tag: 'input', title: 'Фамилия', name: '', value: '', bind: 'firstname' },
        { userField: true, placeholder: 'Имя', tag: 'input', title: 'Имя', name: '', value: '', bind: 'name' },
        { userField: true, placeholder: 'Отчество', tag: 'input', title: 'Отчество', name: '', value: '', bind: 'patronymic' },
        { userField: true, placeholder: 'Дата рождения', tag: 'input', title: 'Дата рождения', name: '', value: '', bind: 'birthday' },
        { userField: true, placeholder: 'Электронная почта', tag: 'input', title: 'Электронная почта', name: '', value: '', bind: 'email' },
        { userField: true, placeholder: 'Телефон', tag: 'input', title: 'Телефон', name: '', value: '', bind: 'phone' },
        { userField: true, placeholder: 'Паспорт серия', tag: 'input', title: 'Паспорт серия', name: '', value: '', bind: 'passport_serial' },
        { userField: true, placeholder: 'Паспорт номер', tag: 'input', title: 'Паспорт номер', name: '', value: '', bind: 'passport_number' },
        { userField: true, placeholder: 'Дата выдачи', tag: 'input', title: 'Дата выдачи', name: '', value: '', bind: 'passport_date' },
        { userField: true, placeholder: 'Орган выдавший паспорт', tag: 'input', title: 'Орган выдавший паспорт', name: '', value: '', bind: 'passport_organization' },
        { userField: true, placeholder: 'Код подразделения', tag: 'input', title: 'Код подразделения', name: '', value: '', bind: 'passport_subdivision' },
        { userField: true, placeholder: 'Адрес регистрации', tag: 'input', title: 'Адрес регистрации', name: '', value: '', bind: 'registration_place' },
        { userField: true, placeholder: 'ИНН', tag: 'input', title: 'ИНН', name: '', value: '', bind: 'inn' },
        { userField: true, placeholder: 'СНИЛС', tag: 'input', title: 'СНИЛС', name: '', value: '', bind: 'snils' },
      ],
    }),
    methods: {
      addStep() {
        this.form.steps.push({
          name: `Шаг ${this.form.steps.length + 1}`,
          data: [],
        })
      },
      getForm() {
        return this.form;
      }
    }
  };

  window.formBuilder = {
    getData() {
      return JSON.parse(JSON.stringify(window.formBuilderData));
    },
  }
</script>
