<template>
  <div>
    <div class="row mt-4">
      <div class="col-md-10">
        <h1 class="mb-4">Заявки</h1>
      </div>
    </div>
    <div class="container">
      <div class="card card-custom">
        <div class="card-body">
            <div class="mb-7">
                <div class="row align-items-center">
                    <div class="row" style="margin-bottom: 10px; align-items: center;">
                        <div class="col-md-3">
                          <div class="form-group">
                            <label>Оператор</label>
                            <select class="form-control" v-model="filter.operator">
                              <option value="">Все</option>
                              <option v-for="operator in operators" :value="operator.id">{{ `${ operator.first_name || '' } ${ operator.name || '' } ${ operator.patronymic || '' }`.trim() }}</option>
                            </select>
                          </div>
                        </div>
                        <div class="col-md-3">
                          <div class="form-group">
                            <label>Статус</label>
                            <select class="form-control" v-model="filter.status">
                              <option value="">Все</option>
                              <option v-for="(name, val) in statuses" :value="val">{{ name }}</option>
                            </select>
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="form-group">
                            <label>Дата завершения (c, до)</label>
                            <div class="row">
                              <div class="col-md-6">
                                <input type="date" placeholder="Дата начала" class="form-control" v-model="filter.start_date">
                              </div>
                              <div class="col-md-6">
                                <input type="date" placeholder="Дата завершения" class="form-control" v-model="filter.end_date">
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-2">
                            <button class="btn btn-primary" @click="loadTickets">Применить</button>
                        </div>
                    </div>
                </div>
            </div>
            <div id="kt_datatable_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
              <div class="datatable datatable-bordered datatable-head-custom table-hover datatable-default datatable-primary datatable-loaded" id="kt_datatable">
                <table class="dataTable datatable-table" style="">
                  <thead class="datatable-head">
                    <tr class="datatable-row" style="left: 0px;">
                      <th data-field="OrderID" v-on:click="sortField('id_s', $event)" class="datatable-cell datatable-cell-sort">
                        <span style="width: 50px;">№</span>
                      </th>
                      <th data-field="CompanyName" v-on:click="sortField('name_s', $event)" class="datatable-cell datatable-cell-sort" data-sort="desc">
                        <span style="width: 250px;">
                            Наименование услуги
                        </span>
                      </th>
                      <th data-field="ShipDate" v-on:click="sortField('date_s', $event)" class="datatable-cell datatable-cell-sort">
                       <span style="width: 80px;">Дата</span>
                      </th>
                      <th data-field="Status" v-on:click="sortField('status_s', $event)" class="datatable-cell datatable-cell-sort">
                        <span style="width: 150px;">Статус</span>
                      </th>
                      <th data-field="Minuser" v-on:click="sortField('manager_s', $event)" class="datatable-cell datatable-cell-sort">
                        <span style="width: 150px;">Менеджер корпорации</span>
                      </th>
                      <th data-field="Window" v-on:click="sortField('window_s', $event)" class="datatable-cell datatable-cell-sort">
                        <span style="width: 150px;">Министерство</span>
                      </th>
                        <th data-field="Window" v-on:click="sortField('company_s', $event)" class="datatable-cell datatable-cell-sort">
                            <span style="width: 150px;">Заявитель</span>
                        </th>
                      <th data-field="Action" data-autohide-disabled="false" class="datatable-cell datatable-cell-sort">
                        <span style="width: 30px;"></span>
                      </th>
                  </tr>
                  </thead>
                  <tbody class="datatable-body" v-if="tickets.data.length > 0">
                    <tr class="datatable-row" v-for="ticket in tickets.data" :key="ticket.id">
                      <td data-field="OrderID" style="width: 50px;" class="datatable-cell">
                        <span style="width: 50px;">{{ ticket.id }}</span>
                      </td>
                      <td data-field="CompanyName" style="width: 250px;" class="datatable-cell">
                        <span style="width: 250px;">
                          <router-link :to="{name: 'ticket.show', params: {id: ticket.id}}">{{ ticket.form_result.form.service.name }}</router-link>
                        </span>
                      </td>
                      <td data-field="ShipDate" style="width: 80px;" class="datatable-cell">
                        <span style="width: 80px;">{{ ruDateFormat(ticket.created_at) }}</span>
                      </td>
                      <td data-field="Status" style="width: 120px;" class="datatable-cell">
                        <span style="width: 120px;">
                          <span style="width: 120px;" class="label font-weight-bold label-lg label-inline"  :class="ruStatusStyle(ticket.status)">
                            {{ ruStatus(ticket.status) }}
                          </span>
                        </span>
                      </td>
                      <td style="width : 150px;" class="datatable-cell">
                        <span style="width:150px;">
                          <div style="width:150px;" v-if="ticket.operator">{{ ticket.operator.firstname }} {{ ticket.operator.name }}</div>
                          <div style="width:80px;" v-else>Оператор не назначен</div>
                        </span>
                      </td>
                      <td style="width: 150px;" class="datatable-cell">
                        <span style="width: 150px;">
                          <div v-if="ticket.window" style="width:150px;">
                            {{ ticket.window.name }}
                          </div>
                          <div style="width:150px;" v-else>Министерство не назначено</div>
                        </span>
                      </td>
                      <td style="width: 150px;" class="datatable-cell">
                        <span style="width: 150px;">
                          <div v-if="ticket.form_result.user.company" style="width:150px;">
                            {{ ticket.form_result.user.company.name }}
                          </div>
                          <div style="width:150px;" v-else>Заявитель не указан</div>
                        </span>
                      </td>
                      <td data-field="Actions" style="width: 30px;" data-autohide-disabled="false" class="datatable-cell">
                        <span style="overflow: visible; position: relative; width: 30px;">
                          <div class="dropdown dropdown-inline">
                            <a data-toggle="dropdown" class="btn btn-sm btn-light btn-text-primary btn-icon mr-2">
                              <span class="svg-icon svg-icon-md">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                  <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <rect x="0" y="0" width="24" height="24"></rect>
                                    <circle fill="#000000" cx="12" cy="5" r="2"></circle>
                                    <circle fill="#000000" cx="12" cy="12" r="2"></circle>
                                    <circle fill="#000000" cx="12" cy="19" r="2"></circle>
                                  </g>
                                </svg>
                              </span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-left">
                              <button class="dropdown-item" @click="setInWorkStatus(ticket)" v-if="ticket.status === 'N'">Взять в работу</button>
                              <button class="dropdown-item" @click="returnToManager(ticket)" v-if="ticket.operator_id != null">Вернуть менеджеру</button>
                            </div>
                          </div>
                        </span>
                      </td>
                    </tr>
                  </tbody>
                  <tbody v-else>
                    <tr>
                      <td colspan="7" class="text-center">Пока нет заявок</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="datatable-pager datatable-paging-loaded mt-3">
                  <paginate :value="tickets.page"
                            @input="changePage"
                            :page-count="tickets.pages"
                            :margin-pages="2"
                            :page-range="5"
                            :no-li-surround="true"
                            :first-last-button="false"
                            :hide-prev-next="false"
                            :container-class="'pagination'"
                            :active-class="'btn-hover-primary active'"
                            :prev-icon-class="'ki ki-bold-arrow-back icon-xs'"
                            :next-icon-class="'ki ki-bold-arrow-next icon-xs'"
                            :prev-text="null"
                            :next-text="null"
                            :prev-class="'page-item'"
                            :prev-link-class="'btn btn-icon btn-sm border-0 btn-light mr-2 my-1'"
                            :page-class="'page-item'"
                            :page-link-class="'btn btn-icon btn-sm border-0 btn-light mr-2 my-1'"
                            :next-class="'page-item'"
                            :next-link-class="'btn btn-icon btn-sm border-0 btn-light mr-2 my-1'"
                  ></paginate>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import moment from 'moment';
import Paginate from '../../paginate';
import { statuses, statusesStyles } from '../../../services/statuses.js';

export default {
  name: 'ticket.index',
  components: { Paginate },
  data: () => ({
    user: [],
    operators: [],
    tickets: {
      data: [],
      page: 0,
      pages: 0,
      windows: [],
      users: [],
    },
    filter: {
      operator: '',
      status: '',
      start_date: '',
      end_date: '',
    },
    sort: {
        id: '',
        name: '',
        date: '',
        status: '',
        manager: '',
        window: '',
        company: ''
    }
  }),
  methods: {
    ruDateFormat(date) {
      return date ? moment(date).format("DD.MM.YYYY") : '';
    },
    ruStatus(status) {
      return statuses[status];
    },
    ruStatusStyle(status) {
        return statusesStyles(status);
    },
    changePage(val) {
      const params = this.getParams();
      $.ajax(`/api/ticket?page=${val}&${params.length > 0 ? params.join('&') : ''}`, {
        success: ({ tickets }) => {
          this.tickets.data = tickets.data;
          this.tickets.page = tickets.current_page;
          this.tickets.pages = tickets.last_page;
        }
      });
    },
    setInWorkStatus(t) {
      $.ajax({
        url: `/api/ticket/${ t.id }/status`,
        data: {
          operator_id: this.user.id,
          status: 'W',
          _token: $('meta[name="csrf-token"]').attr('content')
        },
        type: 'POST',
        success: ({ ticket, token }) => {
          $('meta[name="csrf-token"]').attr('content', token);
          t.status = ticket.status;
          t.operator_id = ticket.operator_id
          this.$nextTick(() => this.$forceUpdate());

          this.$flash_success('Параметры заявки успешно обновлены');
        }
      });
    },
    returnToManager(t) {
      $.ajax({
        url: `/api/ticket/${ t.id }/return`,
        data: {
          _token: $('meta[name="csrf-token"]').attr('content')
        },
        type: 'POST',
        success: ({ ticket, token }) => {
          $('meta[name="csrf-token"]').attr('content', token);
          t.status = ticket.status;
          t.operator_id = ticket.operator_id
          this.$nextTick(() => this.$forceUpdate());

          this.$flash_success('Заявка успешно возвращена');
        }
      });
    },
    getParams() {
        const params = [];
      if (this.filter.search) {
        params.push(`search=${this.filter.search}`);
      }
      if (this.filter.status) {
        params.push(`status=${this.filter.status}`);
      }
      if (this.filter.window) {
        params.push(`window=${this.filter.window}`);
      }
      if (this.filter.operator) {
        params.push(`operator=${this.filter.operator}`);
      }
      if (this.filter.start_date) {
        params.push(`start_date=${this.filter.start_date}`);
      }
      if (this.filter.end_date) {
        params.push(`end_date=${this.filter.end_date}`);
      }

      if (this.sort.type) {
        params.push(`${this.sort.field}=${this.sort.type}`);
      }

      return params;
    },
    sortField: function(field, event) {
      if (this.sort.field != field) this.sort.type = '';

      this.sort.type = this.guessSortingType(field, event);
      this.sort.field = field;
      $(event.currentTarget).find('i').remove();

      $(event.currentTarget).attr('data-sort', this.sort.type);

      if (this.sort.type == 'asc') {
        $(event.currentTarget).find('span').append('<i class="flaticon2-arrow-up"></i>');
      } else {
        $(event.currentTarget).find('span').append('<i class="flaticon2-arrow-down"></i>');
      }

      this.loadTickets();
    },
    guessSortingType(field, event) {
      $('.datatable-cell').removeClass('datatable-cell-sorted');
      $('.datatable-cell').find('i').remove();
      $('.datatable-cell').removeAttr('data-sort');

      event.currentTarget.classList.add('datatable-cell-sorted');

      if (this.sort.type === 'desc') {
        return 'asc';
      }

      return 'desc';
    },
    loadTickets() {
      const params = this.getParams();

      $.ajax(`/api/ticket${params.length > 0 ? '?' + params.join('&') : ''}`, {
        success: ({ tickets }) => {
          if (tickets === null) {
              this.tickets.data = [];
              this.tickets.page = 1;
              this.tickets.pages = 1;

              return;
          }
          this.tickets.data = tickets.data;
          this.tickets.page = tickets.current_page;
          this.tickets.pages = tickets.last_page;
        }
      });
    }
  },
  computed: {
    statuses() {
      return statuses;
    }
  },
  created() {
    this.loadTickets();

    $.ajax(`/api/user?role=operator`, {
      success: ({ users }) => {
        this.operators = users;
      }
    });

    $.ajax(`/api/user/current`, {
      success: ({ user }) => {
          this.user = user;
      }
    });

    var datatable = $('#kt_datatable').DataTable();
  }
}
</script>
